p {
    background-color: darkgrey;
    font-size: 20px;

}
div {
    font-size: 16px;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
}

#a1 {
    background-color: lavenderblush;
    left: 0px;
    top: 0px;
}
#a2 {
    background-color: lightblue;
    right: 0px;
    top: 0px;

}
#a3 {
    background-color: lightcoral;
    right: 0px;
    bottom: 0px;
}
#a4 {
    background-color: lightgreen;
    left: 0px;
    bottom: 0px;
}

