#body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
#section {
    width: 1200px;
    height: 900px;
    background-color: #fff;
    background-image: url(tlo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#logo {
    position: center; 
}
#container {
    background-color: #fff;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    }
