html 
{
 font-size: 55%;
}
@media (min-width: 30rem) {
  :root {
    font-size: calc(1rem + ((1vw - 0.3rem) * 0.5556));
  }
}

@media (min-width: 120rem) {
  :root {
    font-size: 1.3rem;
  }
} /*skalowanie czconki */

body
{
	color: #2F4F2F;
	font-family:Arial;
	font-style: oblique;
	margin: 0;
	font-size: 1rem;
	max-width: none;
	height: 100vh;
}
header
{
	background: linear-gradient(to bottom, #cdcde0  8%, #f3f3f3  );
	text-align: center;
	width: 100%;
}
#button1
{
    float: left;
	padding: 1.4%;
	margin-right: 2%;
	text-align: center;
	box-shadow: 0.3em 0.3em 0.5em black;
	width: 15%;
}
#button2
{
    float: left;
	margin-right: 2%;
	padding:  1.4%;
	text-align:center;
	box-shadow: 0.3em 0.3em 0.5em black;
	margin-bottom: 2%;
	width: 15%;
}
#buttons
{
	background-color: #f3f3f3;
	padding-left: 2%;
}
main 
{
    background: linear-gradient(to bottom,#f3f3f3 0%,#cdcde0  );
	height: 100vh;
}
#box
{
	background: linear-gradient(to bottom,#f3f3f3 0%,#cdcde0  );
	width: 84%;
	height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 2%;
}

#box2
{
	color:#205353;
	background: linear-gradient(to bottom,#f3f3f3 0%,#cdcde0  );
	width: 30%;
	float: left;
	height: 100vh;
	padding-left: 8%;
	padding-top:2%;
}
#box3
{
	background: linear-gradient(to bottom,#f3f3f3 0%,#cdcde0  );
	height: 100vh;
	padding-top: 2%;
	padding-right: 2%;
}
#box5
{
	float: left;
	width: 60%;
	padding-left: 6%;
	height: 100vh;
}
#box6
{
	padding-top: 4%;
	height: 100vh;

}
#box8
{
	float: left;
	width: 55%;
	height: 100vh;
}

a /*odnosnik */
{
transform: scale(1,1)
}
a:link /* nie odwoedzone */
{
color: black;
text-decoration: none;
}
a:visited /*odwiedzony */
{  
color: black;
text-decoration: none;
}
a:hover /* aktywny odsyłacz np. wciśnie i przytrzyma - po najechaniu */
{
color: black;
text-decoration: none;
transform: scale(1.05,1.07)
}
a:active /*aktywny przy klikaniu*/ 
{
color: black;
text-decoration: none;
}

#button1:hover
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition-duration: 1s;
	background: linear-gradient(to bottom,  #4a949d 10%, #3b6c73 );
    
}

#button2:hover
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition-duration: 1s;
	background: linear-gradient(to bottom,  #4a949d 10%, #3b6c73 );

}
.zdj2
{
	box-shadow: 0.5em 0.5em 1em black;
	width: 20%;
	height: 20%;
}
.zdj3
{
	box-shadow: 0.5em 0.5em 1em black;
}
.zdj1
{
	width: 70%;
}
